.app-template {
  height: 100vh;
  display: flex;
}

.counter, .todos, .colorPalettes {
  flex: 1;
  padding: 1rem;
}

.counter {
  background: #f1f3f5;
}

.todos {
  background: #f8f9fa;
}

.colorPalettes {
  background: #f1f3f5;
}

#feed {
  margin: 0;
  text-align: center;
  direction: ltr;
}
